@tailwind base;
@tailwind components;
@tailwind utilities;

  /* .embla {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__container {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    overflow: hidden;
  }
  
  .embla__slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
   */

   .embla {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .embla__container {
    display: flex;
    transition: transform 0.3s ease;
    will-change: transform;
  }
  
  .embla__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .embla__slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
