@tailwind base;
@tailwind components;
@tailwind utilities;


/* .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 650px;
  }

  .embla__slide img {
    width: 100%;
  } */

  .embla {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__container {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    overflow: hidden;
  }
  
  .embla__slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  

  
